<div class="wrapper">
    <div id="formContent">
      <div class="col-md-12 col-xs-12">
        <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
          <div class="col-md-3 col-xs-12" style="margin-top: 10px;">
            <input type="submit" routerLink="/login"  routerLinkActive="active" value="Sign In">
            <input type="submit" style="margin-left: 10px;" routerLink="/signup"  routerLinkActive="active" value="Sign Up">
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
      
    </div>
  </div>