<div class="row justify-content-center">
  <div class="col-md-4">
      <div class="card shadow p-4 mb-5 bg-white rounded" style="margin-top: 40px;">
        <div class="col-md-12">
          <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
            <div class="col-md-12">
              <h3>Login</h3>
            </div>
            <div class="col-md-12" style="margin-top: 10px;">
                <input type="text" class="form-control" name="email" #email="ngModel" [(ngModel)]="model.email" placeholder="Email" [pattern]="emailRegex" required
                [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }">
              <div *ngIf="signInForm.submitted && email.errors?.pattern">
                <label class="validation-message">Invalid email address.</label>
              </div>
            </div>
            <div class="col-md-12" style="margin-top: 10px;">
                <input type="password"  class="form-control" name="password" #password="ngModel" [(ngModel)]="model.password" placeholder="Password" required minlength="4"
                [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">
              <div *ngIf="signInForm.submitted && password.errors?.minlength">
                <label class="validation-message">Minimum 4 characters.</label>
              </div>
            </div>
            <div class="col-md-12 text-right" style="margin-top: 10px;">
              <input type="submit" value="Sign In">
            </div>
          </form>
        </div>
        <!-- Error message -->
        <div class="alert" *ngIf="serverErrorMessages">
          {{serverErrorMessages}}
        </div>
      </div>
    </div>
</div>

